.u-section-1 .u-sheet-1 {
  min-height: 534px;
}

.u-section-1 .u-image-1 {
  width: 189px;
  height: 189px;
  background-image: url("images/1581765538891.jpg");
  background-position: 50% 50%;
  margin: 39px auto 60px -300px;
}