.u-section-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 189px;
  height: 189px;
  background-image: url("images/1581765538891.jpg");
  background-position: 50% 50%;
  margin: 33px auto 0 calc(((100% - 1140px) / 2) + -115px);
}

.u-section-1 .u-group-1 {
  min-height: 353px;
  margin-top: -100px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 26px 39px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 566px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -140px);
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 595px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -476px;
    margin-left: calc(((100% - 720px) / 2) + 248px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 529px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: -475px;
    margin-left: calc(((100% - 540px) / 2) + 163px);
  }

  .u-section-1 .u-group-1 {
    min-height: 384px;
    margin-top: 407px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 686px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -470px;
    margin-left: calc(((100% - 340px) / 2) + 62px);
  }

  .u-section-1 .u-group-1 {
    min-height: 480px;
    margin-top: 384px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1417px;
}

.u-section-2 .u-shape-1 {
  width: 570px;
  height: 228px;
  background-image: none;
  margin: 103px auto 0;
}

.u-section-2 .u-image-1 {
  width: 319px;
  height: 319px;
  background-image: url("images/fc03457e0f051797ef4ef192b7732ea88efd3718a675a47fa6cc24aa76b13fb5ca98e3cfa9cbb30b37c3867f9fde958befdcfe6f18bc54b872ba1c_1280.jpg");
  background-position: 50% 50%;
  margin: -281px auto 0;
}

.u-section-2 .u-group-1 {
  width: 333px;
  min-height: 61px;
  margin: 40px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  width: 570px;
  margin: 32px auto 0;
}

.u-section-2 .u-list-1 {
  width: 590px;
  margin: 13px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 513px;
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: -1px 0 0;
}

.u-section-2 .u-line-1 {
  width: 599px;
  height: 0;
  margin: 14px auto 0;
}

.u-section-2 .u-text-6 {
  width: 570px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-7 {
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-top: 41px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: 4px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-6 {
    width: 540px;
  }

  .u-section-2 .u-text-7 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1883px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 55px;
  }

  .u-section-2 .u-image-1 {
    width: 287px;
    height: 287px;
    margin-top: -265px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 56px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 106px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 9px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 759px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    height: 3px;
    margin-top: 82px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 46px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin: 24px 20px 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 340px;
}

.u-section-3 .u-group-1 {
  width: 333px;
  min-height: 61px;
  margin: 35px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  width: 570px;
  margin: 26px auto 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: none;
  text-transform: uppercase;
  margin: 46px auto 60px;
  padding: 16px 48px 16px 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 275px;
}

.u-section-4 .u-group-1 {
  width: 333px;
  min-height: 61px;
  margin: 27px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 13px auto 0;
}

.u-section-4 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 380px;
  min-width: 160px;
  margin: 39px auto 60px;
}

.u-section-4 .u-icon-1 {
  height: 60px;
}

.u-section-4 .u-icon-2 {
  color: rgb(241, 197, 14) !important;
}

.u-section-4 .u-icon-3 {
  height: 60px;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-social-icons .u-icon {
    width: 30px;
    height: 30px;
    text-align: center;
}


.u-social-icons a:not(:last-child) {
    margin-left: 90px;
    margin-right: -90px;
}
